.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header1 {
  font-size: 22px;
  font-weight: bold;
}

.header2 {
  font-size: 16px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20;
}

.submit {
  margin: 3px 0 2px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 97%;
  background-color: #3bfebb;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.topHeader {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #ccc;
}

.formControl {
  margin: 5px;
  min-width: 95%;
}
.paper {
  margin-top: 8px;
  text-align: center;
  border: solid 2px #ccc;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  width: 40%;
}
.textTop {
  text-align: left;
  margin-left: 5px;
}
.inputBox {
  width: 98%;
  padding: 2%;
  font-size: 12px;
}
.line {
  height: 2px;
  background: #ccc;
}

h2.orLine {
  position: relative;
  top: 36px;
  background: #fff;
  display: inline-block;
  padding: 0 20px;
}
.container {
  text-align: center;
  margin-top: -42px;
  margin-bottom: 26px;
  width: 97%;
  margin-left: 6px;
}
#users {
  width: 97%;
  padding: 20px;
}
select#users option[value="sarahedo"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}
select#users option[value="tylermcginnis"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}
select#users option[value="johndoe"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/dan.jpg");
}

.navList li {
  list-style: none;
  margin-left: 10px;
  float: left;
}

.questionHeader li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.headerPlay {
  padding: 10px 5px 10px 5px;
  min-height: 40px;
}

.playerProfile {
  border: solid 1px #333;
  border-radius: 5px;
  min-height: 200px;
  margin: 5px 15px 15px 5px;
  padding: 10px;
}

.profilePix {
  width: 20%;
  height: 20px;
  float: left;
  background-color: #333;
}

.profileContent {
  width: 70%;
  height: 50px;
  float: right;
  border-left: solid 1px #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
