.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header1 {
  font-size: 22px;
  font-weight: bold;
}

.header2 {
  font-size: 16px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20;
}

.submit {
  margin: 3px 0 2px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 97%;
  background-color: #3bfebb;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.topHeader {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #ccc;
}

.formControl {
  margin: 5px;
  min-width: 95%;
}
.paper {
  margin-top: 8px;
  text-align: center;
  border: solid 2px #ccc;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  width: 40%;
}
select#users option[value="sarahedo"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}
select#users option[value="tylermcginnis"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}
select#users option[value="johndoe"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/dan.jpg");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
