body {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header1 {
  font-size: 22px;
  font-weight: bold;
}

.header2 {
  font-size: 16px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20;
}

.header-profile {}

.submit {
  margin: 3px 0 2px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 97%;
  background-color: #3bfebb;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.topHeader {
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #ccc;
}

.formControl {
  margin: 5px;
  min-width: 95%;
}

.paper {
  margin-top: 8px;
  text-align: center;
  border: solid 2px #ccc;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  width: 40%;
}

.paper-1 {
  margin-top: 8px;
  text-align: center;
  border: solid 2px #ccc;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  width: 40%;
  min-height: 500px;
}

.textTop {
  text-align: left;
  margin-left: 5px;
}

.inputBox {
  width: 92%;
  padding: 2%;
  font-size: 12px;
}

.line {
  height: 2px;
  background: #ccc;
}

h2.orLine {
  position: relative;
  top: 36px;
  background: #fff;
  display: inline-block;
  padding: 0 20px;
}

.container {
  text-align: center;
  margin-top: -42px;
  margin-bottom: 26px;
  width: 97%;
  margin-left: 6px;
}

#users {
  width: 97%;
  padding: 20px;
}

select#users option[value="sarahedo"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}

select#users option[value="tylermcginnis"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/sarah.jpg");
}

select#users option[value="johndoe"] {
  background-image: url("https://tylermcginnis.com/would-you-rather/dan.jpg");
}

.questionHeader li {
  float: left;
  margin-right: 10px;
  list-style: none;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  border-right: solid 1px #cccccc;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px;
  background-color: #ffffff;
  border-bottom: solid 2px #ccc;
  font-weight: bold;
  cursor: pointer;
}

.item {
  padding: 10px;
}

.item:nth-child(odd) {
  border-right: 1px solid #ccc;
}

.active {
  color: #20B2AA;
  background-color: #eee;
}

.headerPlay {
  /* padding: 10px 5px 10px 5px;
  min-height: 40px; */
}

.playerProfile {
  border: solid 3px #eee;
  border-radius: 5px;
  min-height: 218px;
  margin: 5px 10px 15px 10px;
}

.playerProfile-inner {
  border: solid 3px #eee;
  border-radius: 5px;
  min-height: 224px;
  margin: 5px 10px 15px 10px;
}

.playerProfile-inner-1 {
  border: solid 3px #eee;
  border-radius: 5px;
  min-height: 224px;
  margin: 5px 10px 15px 10px;
}

.profilePix {
  width: 105px;
  height: 105px;
  border-radius: 60px;
  float: left;
  border: solid 5px #FFF;
}

.profileContent {
  width: 70%;
  float: right;
  border-left: solid 1px #ccc;
}

.header-profile {
  background-color: #eee;
  margin-top: 0;
  border-radius: 5px 5px 0 0;
  text-align: left;
  padding: 8px;
  margin-bottom: 0;
}

.mainDetails {
  padding: 10px;
}

.would-header {
  margin-top: 0px;
}

h2.would-header {
  margin-top: 0px;
  text-align: left;
  margin-left: 10px;
}

.listProfile {
  text-align: left;
  margin-left: 10px;
}

.view-button {
  padding: 10px;
  border: solid 1px #20B2AA;
  border-radius: 5px;
  width: 280px;
  color: #333333;
  cursor: pointer;
  font-weight: bold;
}

.view-rather {
  padding: 10px;
  border: solid 1px #20B2AA;
  border-radius: 5px;
  width: 292px;
  background-color: #20B2AA;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}

.navList li {
  list-style: none;
  margin-left: 10px;
  float: left;
}

.divLeft {
  float: left;
  width: 300px;
  margin-top: 7px;
}

.appBar {
  background-color: #f5f5f5;
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.userprofileInfo {
  float: right;
  width: 400px;
  margin-top: 7px;
}

.userprofileInfoList li {
  list-style: none;
  float: left;
  margin-left: 15px;
}

.userprofilePix {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  float: left;
  border: solid 1px #FFF;
}

.homeLink {
  font-size: 14px;
  color: #20B2AA;
  font-weight: bold;
  cursor: pointer;
}

.topOne,
.topTwo {
  border: solid 3px #3bfebb;
  border-radius: 5px;
  min-height: 100px;
  margin: 5px 10px 15px 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.yourvoteone {
  background-color: #FFA500;
  border-radius: 40px;
  border: solid 1px #FFF;
  padding: 10px;
  width: 10%;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  float: right;
  margin-top: -17px;
}

.yourvotetwo {
  background-color: #FFA500;
  border-radius: 40px;
  border: solid 1px #FFF;
  padding: 10px;
  width: 10%;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  float: right;
  margin-top: 155px;
}

.main-outter {
  height: 30px;
  background: #cccccc;
  border-radius: 5px;
  font-weight: bold;
}

.innner-pro {
  width: auto;
  height: 100%;
  background: #20B2AA;
  text-align: right;
  padding-right: 5px;
  border-radius: 5px;
}

.counting {
  color: #FFF;
  padding-top: 6px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}